@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.page {
    background-color: #1f2937;
}

.header {
    border-style: solid transparent;
    display: flex;
}

.header-titel {
    font-family: 'space mono';
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
    margin-left: 10em;
    margin-right: 22em;
    align-items: center;
    border-style: solid transparent;
}

.header-link {
    font-family: 'space mono';
    font-size: 16px;
    text-decoration: none;
    color: #e5e7eb; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: auto;
    border-style: solid transparent;
    margin-left: 30px;
}

.header-impressum {
    margin-right: 9.5em;
}

.about {
    border-style: solid transparent;
    margin-top: 1px;
    margin-left: -9px;
    margin-right: -8px;
    height: 500px;
    display: flex;
}

.company-about {
    border: solid transparent;
    margin-left: 250px;
    overflow: hidden;
}

.welcome-about {
    font-family: 'space mono';
    font-size: 48px;
    font-weight: 900;
    line-height: 40px;
    color: #F9FAF8;
    border: solid transparent;
    margin-top: 100px;
    margin-right: 99px;
    margin-bottom: 30px;
}

.startup-about {
    font-family: 'space mono';
    font-size: 17px;
    color: #e5e7eb;
    border: solid transparent;
    margin-right: 19px;
    margin-top: 10px;
    margin-bottom: 35px;
    justify-content: center;
}

.button-about {
    font-family: 'space mono';
    font-weight: 700;
    color: #f9faf8;
    border-radius: 10px;
    background-color: #3882F6;
    height: fit-content;
    width: fit-content;
    font-size: 24px;
    border: solid transparent;
    margin-bottom: 99px;
}

.button-link {
    color: #f9faf8;
}

.office-image {
    height: 300px;
    width: 600px;
    border: solid invisible;
    color: white;
    object-fit: cover;
    margin-top: 100px;
    align-content: flex-end;
    border-radius: 15px;
    margin-right: 10em;
}

.team {
    background-color: #f9faf8;
    margin-left: -8px;
    margin-right: -8px;
    height: 550px;
}

.team-title {
    font-family: 'space mono';
    font-size: 36px;
    text-align: center;
    padding: 40px;
}

.team-pictures {
    display: flex;
    justify-content: center;
    gap: 75px;
}

.dog-images {
    max-width: 100%;
    max-height: 100%;
    border: solid #3882F6;
    border-radius: 15px;
}

.team-ceo,
.team-cfo,
.team-coo,
.team-cto {
    max-width: 200px;
    max-height: 300px;
}

.team-pictures p {
    font-family: 'space mono';
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
}

.quotes {
    background-color: #e5e7eb;
    margin-top: -37px;
    margin-left: -8px;
    margin-right: -8px;
    text-align: center;
}

.quote-text {
    font-family: 'space mono';
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    padding-top: 75px ;
}

.quote-autor {
    font-family: 'space mono';
    font-size: 24px;
    font-weight: 700;
    color: #1f2937;
    padding-bottom: 75px;
    margin-top: -25px;
    margin-left: 500px;
}

.action {
    background-color: #f9faf8;;
    margin-top: -37px;
    margin-left: -8px;
    margin-right: -8px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-field {
    background-color: #3882F6 ;
    border-radius: 15px;
    display: flex;
    inline-size: auto;
    align-items: center;
}

.field {
    font-family: 'space mono';
    color: white;
    margin-left: 40px;
    margin-right: 40px;
}

.field-main {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: -20px;
}

.field-text {
    font-size: 18px;
}

.field-button {
    font-family: 'space mono';
    font-size: 18px;
    font-weight: 700;
    border: solid white;
    background-color: #3882f6;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    margin-right: 40px;
}

.field-link {
    color: white;
}

.footer {
    background-color: #1f2937;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-love {
    font-family: 'space mono';
    font-size: 18px;
    color: white;
}